:root {
    --main-background-color: black;
    --light-orange: orange;
}

@font-face {
    font-family: BDNippori;
    src: url("BD_Nippori_05.otf") format("opentype");
}

html,
body {
    background-color: var(--main-background-color);
    margin: 0;
    padding: 0;
    user-select: none;
    border-radius: 0;
    font-family: BDNippori !important;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 90vh;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100vh;
}

h1 {
    margin: 0;
    color: orange;
    text-align: center;
    font-size: 15vh;
    user-select: none;
    position: relative;
    transition: color 0.25s;
    padding-left: 1vw;
    padding-right: 1vw;
    z-index: 5;
}

h1:hover {
    cursor: pointer;
    color: black;
}

h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5%;
    background-color: orange;
    left: 0;
    bottom: 0;
    transition: height 0.25s;
    z-index: -1;
}

h1:hover::after {
    height: 100%;
}

button {
    position: relative;
    width: 35vh;
    height: 10vh;
    background-color: var(--main-background-color);
    color: orange;
    border: 0.35vw solid orange;
    font-size: 4vh;
    transition: color 0.25s, background-color 0.25s;
    font-family: BDNippori !important;
}

button:hover {
    cursor: pointer;
    background-color: orange;
    color: var(--main-background-color);
}

#footer {
    color: orange;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    padding: 1vh;
    text-decoration: underline;
    font-size: 1.75vh !important;
}

#footer:hover {
    color: orangered;
    cursor: pointer;
}

#field-canvas {
    position: absolute;
    right: 0;
    top: 0;
}

#field-canvas:hover {
    cursor: pointer;
}

#editor-sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 15vw;
    border-right: 1vh solid orange;
}

.editor-button {
    width: 13vw;
    margin: 1vw;
    font-size: 1.45vw;
    height: 4.5vw;
    margin: 0.75vw;
    user-select: none;
}

.animation-button {
    width: 7.5vh;
    height: 7.5vh;
    left: 2.5vh;
    top: 2.5vh;
    text-align: center;
    margin-right: 2vw;
    border: solid 0.25vh orange;
    font-size: 3.5vh;
}

#editor-bottom-bar {
    position: absolute;
    width: 85vw;
    height: 12.5vh;
    border-top: solid 0.5vh orange;
    bottom: 0;
    right: 0;
    display: flex;
}

h2 {
    color: orange;
    margin-left: 2vw;
    transition: 0.15s color;
    font-size: 1.75vw;
}

h2:hover {
    cursor: pointer;
    color: var(--light-orange);
}

#coordinate-fieldset {
    border: solid 0.5vh var(--light-orange);
    color: var(--light-orange);
    text-align: center;
    margin-top: 2vh;
    font-size: 2vw;
    width: 10vw;
    align-self: center;
}

.coord-input {
    width: 70%;
    background-color: var(--main-background-color);
    border: 0.4vh solid var(--light-orange);
    transition: background-color 0.15s, color 0.15s;
    color: var(--light-orange);
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.coord-input:hover {
    cursor: pointer;
    background-color: var(--light-orange);
    color: black;
}

.coord-container {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 2vh;
    align-items: center;
}

p {
    font-size: 1.25vw;
    margin: 0;
}

.regular-font {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 2vw;
}